# dependencies
node_modules/
**/node_modules/
**/.next/
.pnp
.pnp.js
.pnpm-store/
.pnpm-debug.log*
*.node
*.wasm

# testing
coverage

# next.js
.next/
out/
build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*
# include .env.example
!.env.example

# turbo
.turbo

# vercel
.vercel
node_modules
