# 資料庫連接字串
DATABASE_URL="postgresql://username:password@localhost:5432/database_name"

# JWT 密鑰
JWT_SECRET="your_jwt_secret_key"

# 預設管理員帳號設定
DEFAULT_ADMIN_EMAIL="admin@example.com"
DEFAULT_ADMIN_PASSWORD="admin123"

# 其他環境變數
NODE_ENV="development"
PORT=3000


R2_ACCOUNT_ID="your_r2_account_id"
R2_ACCESS_KEY_ID="your_r2_access_key_id"
R2_SECRET_ACCESS_KEY="your_r2_secret_access_key"
R2_BUCKET_NAME="your_r2_bucket_name"
